/* Midia query */
h1 {
    color: rgb(109, 62, 153);
}

/* Define o tamanho max da tela para a mudança da cor por meio da responsividade */

@media screen and (max-width: 500px) {
    h1 {
        color: rgb(43, 4, 80);
    }
}

/* Se utilizar min-width em vez de max-width a media query funciona de forma inversa */

/* Min width */
@media screen and (min-width: 800px) {
    p {
        background-color: rgb(0, 53, 99);
        color: rgb(255, 255, 255);
    }
}

/* Landscape */

h3 {
    display: none;
}

@media screen and (orientation: landscape){
    h3 {
        display: block;
    }
}