body {
    padding-bottom: 500px;
    background-color: rgba(1, 84, 99, 0.1);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-size: 25px;
    background-color: tan;
    opacity: 0.9; /* USasado para colocar a opacidade nos elementos os valores são de 0 a 1 ou seja 0.1, 0.2... etc. Usada tanto na color quando no background */
} 

.paragrafo {
    background-color: aqua;
    color: black;
    text-align: center;
}

#exclusivo {
    background-color: blueviolet;
    color: aliceblue;
    font-size: 25px;
    padding: 20px;
    text-align: center;
}

/* Criando ordem no CSS */

h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 3px solid rgb(173, 169, 169);
}

#algum-titulo {
    border-bottom: 3px solid rgb(1, 84, 99);
}

.image {
    background-image: url(image.png);
    padding: 10px;
    color: white;
    background-position: center; /*Centraliza a imagem de fundo*/
}

/* Centralizando imagem do background de fundo*/

.centralizando-background1,
.centralizando-background2 {
    height: 400px; /*Altura da imagem */
    width: 400px; /*Largura da imagem*/
    background-image: url(image.png);
}

.centralizando-background2 {
    background-position: center;
    background-size: cover; /*A ideia e colocar o objetivo da image centralizado dessa forma*/ 
}

/* Altura e largura */
.height-width-1 {
    height: 200px;
    width: 100px;
    background-color: aquamarine;
}

.height-width-2 {
    height: 300px;
    background-color: rgb(6, 78, 78);
}

/* Espaçamento interno */

.padding-1, .padding-2{
    background-color: blueviolet;
    color: aliceblue;
}

.padding-2 {
    background-color: rgb(143, 109, 175);
    padding: 20px;
}

/* Espaçamento individuál */

.espacamento-individual {
    background-color: brown;
    color: aliceblue;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 15px;
    padding-right: 20px;
}

/* Simplificação do espaçamento */

.espacamento-simplificado-1 {
    background-color: crimson;
    padding: 6px 12px 18px 24px;
}

.espacamento-simplificado-2 {
    background-color: beige;
    padding: 10px 20px;
}

/* Padding com Width */

.width-borde-box {
    background-color: #444;
    color: aliceblue;
    width: 400px;
    padding: 50px;
}

.borde-box {
    background-color: #504c4c;
    color: aliceblue;
    width: 400px;
    padding: 50px;
    box-sizing: border-box; /*Respeita o tamanho total do elemento*/
}

/* Borda */

.borda1 {
    border: 1px solid red;
    border-left: 10px solid blue;
    padding: 10px;
}

.borda2 {
    border: 2px dotted blueviolet;
    padding: 25px;
    border-bottom: 2PX solid red; /*Borda individual*/
    border-radius: 50px;  /*Arrendondando a borda*/ /*Pode se utilizar a regra da borda para estilizar somente o elemento sem a borda*/
    margin: 50px; /*Espaçamento externo*/
}

/* Box model */

.box-model {
    margin: 20px;
    padding: 15px 25px;
    border: 3px solid #845;
    border-radius: 7px;
    width: 150px;
    height: 120px;
}