body {
    padding-bottom: 500px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-size: 25px;
} 

.paragrafo {
    background-color: aqua;
    color: black;
    text-align: center;
}