body {
    padding-bottom: 500px;
    background-color: rgba(1, 84, 99, 0.1);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-size: 25px;
    background-color: tan;
    opacity: 0.9; /* USasado para colocar a opacidade nos elementos os valores são de 0 a 1 ou seja 0.1, 0.2... etc. Usada tanto na color quando no background */
} 

.paragrafo {
    background-color: aqua;
    color: black;
    text-align: center;
}

#exclusivo {
    background-color: blueviolet;
    color: aliceblue;
    font-size: 25px;
    padding: 20px;
    text-align: center;
}

/* Criando ordem no CSS */

h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 3px solid rgb(173, 169, 169);
}

#algum-titulo {
    border-bottom: 3px solid rgb(1, 84, 99);
}

.image {
    background-image: url(image.png);
    padding: 10px;
    color: white;
    background-position: center; /*Centraliza a imagem de fundo*/
}

/* Centralizando imagem do background de fundo*/

.centralizando-background1,
.centralizando-background2 {
    height: 400px; /*Altura da imagem */
    width: 400px; /*Largura da imagem*/
    background-image: url(image.png);
}

.centralizando-background2 {
    background-position: center;
    background-size: cover; /*A ideia e colocar o objetivo da image centralizado dessa forma*/ 
}

/* Altura e largura */
.height-width-1 {
    height: 200px;
    width: 100px;
    background-color: aquamarine;
}

.height-width-2 {
    height: 300px;
    background-color: rgb(6, 78, 78);
}

/* Espaçamento interno */

.padding-1, .padding-2{
    background-color: blueviolet;
    color: aliceblue;
}

.padding-2 {
    background-color: rgb(143, 109, 175);
    padding: 20px;
}

/* Espaçamento individuál */

.espacamento-individual {
    background-color: brown;
    color: aliceblue;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 15px;
    padding-right: 20px;
}